
/* base styles */
* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    margin-top: 2vh; /* to avoid nav overlap */
    display: flex;
    flex-direction: column;
    height: calc(100vh + 90px);
}

a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #6F86FF;
}

/* Off-screen-menu */
/* Link colors */
a {
    color: white;
}
a:visited {
    color: white;
}
.off-screen-menu a:hover {
    color: #6F86FF;
}
.off-screen-menu {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    left: -400px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    transition: .3s ease;
    z-index: 1000;
}
.off-screen-menu.active {
    left: 0;
}

/* Navigation */
nav {
    padding: 1rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    color: #333;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 1000;
}

/* Ham-menu*/
.ham-menu {
    height: 60px;
    width: 50px;
    position: fixed;
    left: 1%;
    top: 0.5%;
    z-index: 1000;
}
.ham-menu span {
    height: 10%;
    width: 100%;
    background-color: #070707;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: black;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/* ------------------------------- */

main{
    flex: 1;
}
#start-screen{
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 4rem auto;
    border-radius: 12px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow:  
    1px 3px 6px rgba(0, 0, 0, 0.6);
}
#start-screen h1{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px;
}
#start-screen p{
    font-size: 1.3em;
    text-align: center;
    margin: 10px 0;
}
p:nth-child(4){
    font-weight: bold;
    padding-bottom: 10px;
}
#start-screen h3{
    font-size: 1.5em;
    text-align: center;
    color: red;
}
.app{
    background: white;
    width: 85%;
    max-width: 800px;
    min-height: 80vh;
    margin: 4rem auto;
    border-radius: 12px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow:  
    1px 2px 6px rgba(0, 0, 0, 0.6);
}
#start-btn{
    background: #fff;
    color: #222;
    font-weight: 600;
    font-size: 1.4em;
    width: 30%;
    border: 1px solid #222;
    padding: 10px;
    display: block;
    margin: 10px auto;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
}
.app h1{
    font-size: 2.2em;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    text-align: center;
}
.quiz{
    padding: 5px 0; /* padding top and sideways */
    display: flex;
    flex-direction: column;
}
.quiz h2{
    font-size: 1.5em;
    font-weight: 600;
}
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px; 
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width:100%;
    border: 1px solid #222;
    padding: 10px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    font-size: 1rem;
}
#home-btn:hover:not([disabled]), 
#next-btn:hover:not([disabled]), 
.btn:hover:not([disabled]),
#start-btn:hover:not([disabled]) {
    background: #1a1a2e;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow:
        -4px -4px 8px rgba(255, 255, 255, 0.05),
        4px 4px 8px rgba(0, 0, 0, 0.3),
        inset 2px 2px 4px rgba(255, 255, 255, 0.05),
        inset -2px -2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
}
.btn:disabled{
    cursor: not-allowed; /* ei voi klikata */
}
#next-btn{
    background: #fff;
    color: #222;
    font-weight: 600;
    font-size: 1.2em;
    width: 30%;
    border: 1px solid #222;
    padding: 8px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
    display: none; /* Seuraava -painike piilossa niin kauan kun käyttäjä antaa vastauksen */
}
#home-btn{ 
    background: #fff;
    color: #222;
    font-weight: 600;
    font-size: 1.4em;
    width: 50%;
    border: 1px solid #222;
    padding: 10px;
    display: block;
    margin: 10px auto;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
}


#score-text{
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ffb3b3;
}
.image, .question-image, img{
    display: block;
    width: 100%;
    max-width: 525px;
    max-height: 350px;
    margin: 8px auto;
    border-radius: 12px;
}
.answer-message{
/* Text for correct/incorrect answer*/
    font-size: 1.25em;
    font-weight: 600;
    margin: 2px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    min-height: 60px;
    grid-column: 1 / -1;
}

/* FOOTER */
.info-footer {
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    color: white;
    padding: 0.7% 2%;
    position:absolute;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}
.developers {
    flex: 1;
}
.developer-list {
    display: flex;
    gap: 2vh;
    margin-top: 5px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: -2vh;
}
.project {
    font-weight: bold;
    flex: 1;
  }
  
.logo img {
    max-height: 7vh;
    flex: 1;
}

@media (max-width: 768px) {
    .app {
        width: 80%;
      margin-bottom: 3.5rem;
    }
    #start-screen p {
      font-size: 1.2em;
    }
    #start-screen h1 {
      font-size: 2em;
    }
    #start-screen h3 {
      font-size: 1.2em;
    }
    #answer-buttons {
        grid-template-columns: 1fr; /* Yksi sarake mobiilissa */
        gap: 10px;
    }
  }
  