* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-family:;*/
  background-color:white; 

  background-image: url('../images/Asiamemorygame.png'); /* Vaihda tiedostonimi jos eri */
  background-size: cover; /* Skaalaa kuva peittämään koko sivu */
  background-position: center; /* Keskittää kuvan */
  background-repeat: no-repeat; /* Estää kuvan toiston */
}

.memorygameheadline {
  text-align: center;
  width: 100%;
  margin-top: 2%;
}

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
  gap: 8px;
  margin-top: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px;

  background-color: #69baf7; /* vaaleansininen tausta */
  border-radius: 25px;       /* pyöristetyt reunat */
  padding: 30px 50px;        /* tyhjää reunoille */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* varjo */
}

.memory-card {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: grey;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.match-list {
  margin-top: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
}

#game-over {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url('../images/Asiamemorygame.png'); /* Vaihda tiedostonimi jos eri */
  background-size: cover; /* Skaalaa kuva peittämään koko sivu */
  background-position: center; /* Keskittää kuvan */
  background-repeat: no-repeat; /* Estää kuvan toiston */
}

#game-over h2 {
  font-size: 24px;
  font-weight: bold;
}

#game-over button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}