body {
  padding-top: 8vh;
  background: url('../images/map.jpg') center/cover no-repeat fixed;
  overflow-x: hidden;
  position: relative;
}
body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(3, 12, 75, 0.3), rgba(8, 5, 56, 0.2)); 
  z-index: 0;
}
* {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/*ham-menu*/
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #6F86FF;
}
.off-screen-menu {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 100vh;
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  left: -400px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 4vh;
  transition: .3s ease;
  z-index: 1000;
}
.off-screen-menu.active {
  left: 0;
}

/* Navigation */
nav {
  padding: 1rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  color: #333;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 1000; 
}

/* Ham-menu*/
.ham-menu {
  height: 60px;
  width: 50px;
  position: fixed;
  left: 1%;
  top: 0.5%;
  z-index: 1000;
}
.ham-menu span {
  height: 10%;
  width: 100%;
  background-color: #070707;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: black;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.summary-layout {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 20px 1%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* Overview box */
.summary-box {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: 100%;

  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
}

/* Small boxes */
.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1100px;
  padding: 0 2%;

  opacity: 0;
  animation: fadeIn 1.2s ease-out 1s forwards;
}
.games-grid h2 {
  font-size: 1.4rem;
  margin-bottom: 3px;
}
.games-grid p {
  font-size: 1rem;
}
/* individual box */
.box {
  background: #1a1a2e;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 25px;
  font-weight: bold;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 100px;
  width: 100%;
  max-width: 325px;
  margin: 0 auto;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow:
  -8px -8px 16px rgba(255, 255, 255, 0.05),
  8px 8px 16px rgba(0, 0, 0, 0.3),
  inset 2px 2px 4px rgba(255, 255, 255, 0.05),
  inset -2px -2px 4px rgba(0, 0, 0, 0.3);
}
.box:hover {
  transform: translateY(-3px);
  border: 2px solid white;
  box-shadow:
  -4px -4px 8px rgba(255, 255, 255, 0.1),
  4px 4px 8px rgba(0, 0, 0, 0.4);
}

/* Text styles */
.summary-box h1 {
  font-weight:700;
  font-size: clamp(2.3rem, 5.5vw, 3rem);
  text-align: center;
  color: #ffffff;

  border-bottom: 3px solid #1a1a2e;
  text-shadow: 
    2px 4px 8px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.6);
  padding: 0 10px 5px 10px;
}
.summary-description, .total-score {
  font-size: clamp(1rem, 2vw, 1.1rem);
  text-align: center;
  max-width: 800px;
  color: #ffffff;

  text-shadow: 
    2px 4px 8px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.6);
}

  /*footer---------------------------------------------------------------------------------------------------------*/

  .info-footer {
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    color: white;
    padding: 0.7% 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
  }
.developers {
  flex: 1;
}
.developer-list {
  display: flex;
  gap: 2vh;
  margin-top: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: -2vh;
}
.project {
  font-weight: bold;
  flex: 1;
}

.logo img {
  max-height: 7vh;
  flex: 1;
}

/* Mobile */
@media (max-width: 768px) {
  .summary-layout {
    margin-top: 0;
    padding: 20px 2%;
  }
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
  .box {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .games-grid {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
  .games-grid h2 {
    font-size: 1.2rem;
  }
  .box {
    max-width: 85%;
    min-height: 80px;
    padding: 10px;
  }
  .info-footer {
    position: relative;
  }
  .summary-box h1 {
    padding: 0 10px 8px 10px;
  }
}

@keyframes fadeIn {
  from { 
      opacity: 0.0;
      transform: translateY(25px);
  }
  to { 
      opacity: 1;
      transform: translateY(0);
  }
}