# Ignore dependencies and build files
node_modules/
.deployment/

# Ignore system files and editor settings
.vscode/

# Ignore logs and environment variables
*.log
.env

# Ignore package lock file (optional, if you regenerate it)
package-lock.json
config.js
secrets.json